html,
body {
background-color: rgb(0, 0, 0);
color: white;
font-family: 'Roboto', sans-serif;
font-style: normal;
}
a {
text-decoration: none;
color: white;
}
.body {
max-width: 1200px;
display: flex;
margin-left: auto;
margin-right: auto;
}
.navigator_box {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.link_box {
display: flex;
list-style: none;
flex-wrap: wrap;
}
.li_box {
  padding: 10px;
  margin: 0px 15px 0px 15px;
  text-transform: uppercase;
}
.bullet_wrapper,
.faq_wrapper,
.mywork_wrapper,
.tarif_wrapper,
.footer_wrapper {
padding-left: 30px;
padding-right: 30px;
}
.unit_wrapper {
 display: flex; 
 flex-wrap: wrap;  
 justify-content: space-around;     
}
.bullet_wrapper,
.tarif_wrapper,
.mywork_wrapper,
.faq_wrapper {
padding-top: 50px;
padding-bottom: 50px;
}
.hello_block {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/back.jpg');
background-size: cover;
/*background-position: center -90px; - сдвиг картинки для меню */ 
height: 720px;

background-position: center;
background-repeat: no-repeat;
position: relative;
}
.hello_text {
font-size: 30px;
position: absolute;
text-transform: uppercase;
margin-left: 5%;
margin-top: 5%;
}
.brand_text,
.red_words {
text-transform: uppercase;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 34px;
}
.brand_text_light {
text-transform: uppercase;
font-family: 'Roboto';
font-style: normal;
font-weight: 200;
font-size: 18px;
line-height: 24px;
}
.red_words {
color: red; 
}
.footer_wrapper {
border-top: 1px solid white;
}
.footer_ins_wrapper {
margin: 50px 0px 50px 0px;
display: flex;
justify-content: space-between;
}
.foto_contact_box {
display: flex;
}
.foto_box {
}
.contact_box {
margin-left: 50px;
}
.contact_action {
display: flex;
flex-direction: column;
}
.tel_box,
.mail_box {
padding: 5px;
}
.social_box {
display: flex;
flex-direction: column;
}
.social_ico {
padding: 5px;
}
.footer_brand {
font-size: 20px;
}
.footer_coryright,
.brand_text_p,
.brand_text_light {
font-size: 18px;
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 21px
}
.brand_text_cssse {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
}
.unit { 
max-width: 280px; 
min-width: 250px;  
margin-right: auto; 
margin-left: auto;  
text-align: center;       
}
  

/* ------------------------------------------------------
@media (max-width: 768px) {
 ------------------------------------------------------ 
@media (max-width: 360px) {
.font-size: 10px {
------------------------------------------------------ 
@media (max-width: 320px) {
.header_wrapper,
.main_wrapper, 
.footer_wrapper {
border: 1px solid yellow;
padding-left: 6px;
padding-right: 6px;
}*/

@media (max-width: 320px) {
.hello_block {
background-image: url('img/back_w320.jpg'); 
background-size: cover;
/*background-position: center -90px; - сдвиг картинки для меню */ 
height: 407px;
background-position: center;
background-repeat: no-repeat;
position: relative;
}
.hello_text {
  font-size: 20px;
  position: absolute;
   margin-left: 3%;
  margin-top: 3%;
  }

/* ------------- кодуем над футером в 320 --------------------*/
.footer_wrapper {
border-top: 1px solid white;
}
.footer_ins_wrapper {
margin: 50px 0px 50px 0px;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.foto_contact_box {
display: flex;
flex-direction: column;
}
.foto_box {
margin: 3px;
align-self: center;
}
.contact_box {
align-self: center;
margin: 3px;
}
.social_box {
display: flex;
flex-direction: row;
justify-content: space-between;
}
.social_ico {
  padding: 3px;
}
}


@media (max-width: 375px) {
.hello_block {
background-image: url('img/back_w320.jpg'); 
background-size: cover;
/*background-position: center -90px; - сдвиг картинки для меню */ 
height: 407px;
background-position: center;
background-repeat: no-repeat;
position: relative;
}
.hello_text {
  font-size: 20px;
  position: absolute;
   margin-left: 3%;
  margin-top: 3%;
  }

/* ------------- кодуем над футером в 375 --------------------*/
.footer_wrapper {
border-top: 1px solid white;
}
.footer_ins_wrapper {
margin: 50px 0px 50px 0px;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.foto_contact_box {
display: flex;
flex-direction: column;
}
.foto_box {
margin: 3px;
align-self: center;
}
.contact_box {
align-self: center;
margin: 3px;
}
.social_box {
display: flex;
flex-direction: row;
justify-content: space-between;
}
.social_ico {
  padding: 3px;
}
}

@media (max-width: 414px) {
.hello_block {
background-image: url('img/back_w320.jpg'); 
background-size: cover;
/*background-position: center -90px; - сдвиг картинки для меню */ 
height: 407px;
background-position: center;
background-repeat: no-repeat;
position: relative;
}
.hello_text {
  font-size: 20px;
  position: absolute;
   margin-left: 3%;
  margin-top: 3%;
  }

/* ------------- кодуем над футером в 414 --------------------*/
.footer_wrapper {
border-top: 1px solid white;
}
.footer_ins_wrapper {
margin: 50px 0px 50px 0px;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.foto_contact_box {
display: flex;
flex-direction: column;
}
.foto_box {
margin: 3px;
align-self: center;
}
.contact_box {
align-self: center;
margin: 3px;
}
.social_box {
display: flex;
flex-direction: row;
justify-content: space-between;
}
.social_ico {
  padding: 3px;
}
}
